n8n/workflows/query_workflow_v2.json
{
  "name": "RAG Chat - Query Workflow v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gateway_router:8001/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.body.prompt, chat_history: [] }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://embedding_service:8002/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Webhook').first().json.body.prompt }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "embed-query",
      "name": "Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the semantic cache lookup query\n// Using Code node because n8n's Postgres node strips the <=> operator\nconst embedding = $('Embed Query').first().json.embedding;\nconst vectorStr = '[' + embedding.join(',') + ']';\nreturn {\n  json: {\n    query: `SELECT id, query_text, response_text, 1 - (query_embedding <=> '${vectorStr}'::vector) AS similarity FROM semantic_cache WHERE expires_at > NOW() ORDER BY query_embedding <=> '${vectorStr}'::vector LIMIT 1`\n  }\n};"
      },
      "id": "build-cache-query",
      "name": "Build Cache Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "check-cache",
      "name": "Check Semantic Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 300],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RAG Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cache-hit-check",
              "leftValue": "={{ $json.similarity }}",
              "rightValue": 0.92,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cache-hit-check",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cached-response",
              "name": "response",
              "value": "={{ $json.response_text }}",
              "type": "string"
            },
            {
              "id": "cached-flag",
              "name": "cached",
              "value": true,
              "type": "boolean"
            }
          ]
        }
      },
      "id": "use-cached",
      "name": "Use Cached Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE semantic_cache SET hit_count = hit_count + 1 WHERE id = '{{ $('Check Semantic Cache').first().json.id }}'",
        "options": {}
      },
      "id": "increment-cache-hit",
      "name": "Increment Cache Hit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 160],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RAG Postgres"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Classify Intent').first().json.intent }}",
                    "rightValue": "product_pricing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Classify Intent').first().json.intent }}",
                    "rightValue": "general_doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 1
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-intent",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1320, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://pricing_api:8004/pricing",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "modules",
              "value": "=starter,professional,enterprise"
            },
            {
              "name": "user_count",
              "value": "=1"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-pricing",
      "name": "Fetch Pricing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-pricing-data",
              "name": "pricing_data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-pricing",
      "name": "Set Pricing Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-pricing",
              "name": "pricing_data",
              "value": "null",
              "type": "string"
            }
          ]
        }
      },
      "id": "no-pricing",
      "name": "No Pricing (Doc Query)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 560]
    },
    {
      "parameters": {
        "jsCode": "// Build the RAG vector search query\n// Using Code node because n8n's Postgres node strips the <=> operator\n// Use .first() to avoid paired-item tracking errors through Code nodes\nconst embedding = $('Embed Query').first().json.embedding;\nconst vectorStr = '[' + embedding.join(',') + ']';\nreturn {\n  json: {\n    query: `SELECT content, metadata, 1 - (embedding <=> '${vectorStr}'::vector) AS similarity FROM document_chunks ORDER BY embedding <=> '${vectorStr}'::vector LIMIT 5`\n  }\n};"
      },
      "id": "build-rag-query",
      "name": "Build RAG Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 440]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "rag-search",
      "name": "RAG Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2200, 440],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RAG Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT role, message FROM chat_sessions WHERE user_id = '{{ $('Webhook').first().json.body.userID || 'anonymous' }}' ORDER BY created_at DESC LIMIT 10",
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2420, 440],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RAG Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assemble the full LLM payload\n// IMPORTANT: Use .first() everywhere to avoid paired-item tracking errors\nconst webhook = $('Webhook').first().json.body;\nconst ragResults = $('RAG Search').all();\nconst historyResults = $('Fetch Chat History').all();\n\n// Get pricing data safely — only one path executes\nlet pricingRaw = null;\ntry {\n  pricingRaw = $('Set Pricing Data').first().json.pricing_data;\n} catch (e) {\n  try {\n    pricingRaw = $('No Pricing (Doc Query)').first().json.pricing_data;\n  } catch (e2) {\n    pricingRaw = null;\n  }\n}\n\n// Build retrieved context from RAG results\nconst retrieved_context = ragResults\n  .filter(r => r.json.content)\n  .map(r => ({\n    content: r.json.content,\n    metadata: typeof r.json.metadata === 'string' ? JSON.parse(r.json.metadata) : (r.json.metadata || {}),\n    similarity: r.json.similarity || 0\n  }));\n\n// Build chat history (reverse to chronological order)\nconst chat_history = historyResults\n  .filter(h => h.json.role && h.json.message)\n  .map(h => ({ role: h.json.role, content: h.json.message }))\n  .reverse();\n\n// Parse pricing data\nlet pricing_data = null;\ntry {\n  if (pricingRaw && pricingRaw !== 'null') {\n    pricing_data = typeof pricingRaw === 'string' ? JSON.parse(pricingRaw) : pricingRaw;\n  }\n} catch (e) {\n  pricing_data = null;\n}\n\n// System prompt for the Sales Engineer AI\nconst system_prompt = `You are a knowledgeable and friendly Sales Engineer for our software platform. Your role is to help potential customers understand which modules and subscription plans best fit their specific business needs.\n\n## Your Behavior\n1. Listen carefully to what the user describes about their business, team size, and requirements.\n2. Recommend modules that specifically solve the problems they described. Always explain WHY each module fits their needs.\n3. Provide accurate pricing using ONLY the pricing data given to you in the context. Never estimate, calculate, or invent any prices.\n4. Be conversational — respond naturally, as a human sales engineer would.\n5. Ask clarifying questions when requirements are vague.\n\n## Hard Constraints\n- ONLY use pricing numbers that appear in the provided pricing context. If no pricing data is provided, say: \"I'd be happy to get you exact pricing — could you tell me which modules interest you?\"\n- NEVER perform arithmetic on prices. If the context says the total is $375.00, say \"$375.00\".\n- If a user's need doesn't match any module in your context, say so honestly.\n- If pricing requires a custom quote, say: \"For enterprise-level pricing, our sales team can put together a custom quote.\"\n- NEVER make up features, modules, or capabilities not in your context.\n- Do NOT reveal you are an AI or discuss your internal architecture.`;\n\nreturn {\n  json: {\n    user_prompt: webhook.prompt,\n    system_prompt: system_prompt,\n    chat_history: chat_history,\n    retrieved_context: retrieved_context,\n    pricing_data: pricing_data\n  }\n};"
      },
      "id": "assemble-payload",
      "name": "Assemble LLM Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm_service:8003/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-llm",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 440]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "llm-response",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            },
            {
              "id": "cached-false",
              "name": "cached",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "pass-prompt",
              "name": "user_prompt",
              "value": "={{ $('Webhook').first().json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "pass-userid",
              "name": "userID",
              "value": "={{ $('Webhook').first().json.body.userID || 'anonymous' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-llm-response",
      "name": "Set LLM Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3080, 440]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for saving chat history and final response\n// Use $input.item.json to read from the direct predecessor — avoids paired-item errors\nconst data = $input.item.json;\nconst userID = (data.userID || 'anonymous').toString().replace(/'/g, \"''\");\nconst userMsg = (data.user_prompt || '').replace(/'/g, \"''\");\nconst assistantMsg = (data.response || '').replace(/'/g, \"''\");\n\nconst saveQuery = `INSERT INTO chat_sessions (user_id, role, message) VALUES ('${userID}', 'user', '${userMsg}'), ('${userID}', 'assistant', '${assistantMsg}')`;\n\nreturn {\n  json: {\n    saveQuery: saveQuery,\n    response: assistantMsg.replace(/''/g, \"'\")\n  }\n};"
      },
      "id": "prepare-save",
      "name": "Prepare Save Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.saveQuery }}",
        "options": {}
      },
      "id": "save-chat",
      "name": "Save Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3520, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "RAG Postgres"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-response",
              "name": "response",
              "value": "={{ $('Prepare Save Data').first().json.response }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "final-response",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3740, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Classify Intent", "type": "main", "index": 0 }]
      ]
    },
    "Classify Intent": {
      "main": [
        [{ "node": "Embed Query", "type": "main", "index": 0 }]
      ]
    },
    "Embed Query": {
      "main": [
        [{ "node": "Build Cache Query", "type": "main", "index": 0 }]
      ]
    },
    "Build Cache Query": {
      "main": [
        [{ "node": "Check Semantic Cache", "type": "main", "index": 0 }]
      ]
    },
    "Check Semantic Cache": {
      "main": [
        [{ "node": "Cache Hit?", "type": "main", "index": 0 }]
      ]
    },
    "Cache Hit?": {
      "main": [
        [{ "node": "Use Cached Response", "type": "main", "index": 0 }],
        [{ "node": "Switch Intent", "type": "main", "index": 0 }]
      ]
    },
    "Use Cached Response": {
      "main": [
        [{ "node": "Increment Cache Hit", "type": "main", "index": 0 }]
      ]
    },
    "Increment Cache Hit": {
      "main": [
        [{ "node": "Prepare Save Data", "type": "main", "index": 0 }]
      ]
    },
    "Switch Intent": {
      "main": [
        [{ "node": "Fetch Pricing", "type": "main", "index": 0 }],
        [{ "node": "No Pricing (Doc Query)", "type": "main", "index": 0 }],
        [{ "node": "No Pricing (Doc Query)", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pricing": {
      "main": [
        [{ "node": "Set Pricing Data", "type": "main", "index": 0 }]
      ]
    },
    "Set Pricing Data": {
      "main": [
        [{ "node": "Build RAG Query", "type": "main", "index": 0 }]
      ]
    },
    "No Pricing (Doc Query)": {
      "main": [
        [{ "node": "Build RAG Query", "type": "main", "index": 0 }]
      ]
    },
    "Build RAG Query": {
      "main": [
        [{ "node": "RAG Search", "type": "main", "index": 0 }]
      ]
    },
    "RAG Search": {
      "main": [
        [{ "node": "Fetch Chat History", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Chat History": {
      "main": [
        [{ "node": "Assemble LLM Payload", "type": "main", "index": 0 }]
      ]
    },
    "Assemble LLM Payload": {
      "main": [
        [{ "node": "Call LLM", "type": "main", "index": 0 }]
      ]
    },
    "Call LLM": {
      "main": [
        [{ "node": "Set LLM Response", "type": "main", "index": 0 }]
      ]
    },
    "Set LLM Response": {
      "main": [
        [{ "node": "Prepare Save Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Save Data": {
      "main": [
        [{ "node": "Save Chat History", "type": "main", "index": 0 }]
      ]
    },
    "Save Chat History": {
      "main": [
        [{ "node": "Final Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "RAG Chat"
    }
  ]
}
